/* src/assets/global.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .quiz {
    background-color: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .question {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .answers li {
    background-color: #f9f9f9;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .answers li:hover {
    background-color: #eaeaea;
  }
  
  .correct {
    color: lightgreen;
  }
  
  .wrong {
    color: lightcoral;
  }
  .selected-answer {
    background-color: #f0f0f0; /* Цвет фона для выбранного ответа */
  }
  